*{
    text-decoration: none;
    list-style-type: none;
    
    background-color:rgb(51, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    
}
.section{
    background-color:  rgb(196, 198, 198);
    align-items: center;
    background-image: url(522arr.jpeg);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;   
}
.div1{
    color:  white;
    font-size: 25px;

}

.div2{
    display: flex;
    margin-left: 10px;
}
li a{
    margin-left: 10px;
    color: white;
    font-size: large;
}


.devsow{
    margin: 110px 400px;
    width: 100%;
}
 
.devsow,img{
    border-radius: 50%; 
}
 
.devsow h2{
    margin-top: -5px;
}
.devsow h3{
    margin-top: -20px;
    margin-right: px;
    color: white;
}
 
.tirer{
    height: 2.5px;
    width: 40px;
    background-color:  rgb(251, 182, 9); 

}
.scroller{
    width: 35px;
    height: 3px;
    background-color:  rgb(251, 182, 9);
    margin-top: -44px;
    color: white;
}
.scroller,p{
    margin-left:40px;
    margin-top: -15px;
}
                                  /* ceuci est mon premiere parie de portfolio*/
.partie2{
    display: flex;

}

.une{
    display: flex;
    
}
.infoperso{
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 500px;
    color: white;
}
span{
    color: rgb(251, 182, 9);
}
.monimg{
    margin-right: 12px;
    margin-right: 10px;
    padding-top: 0px;
}
.div1,h4:hover{
    transform: scale(1.5);
    transition: 2s;
}
.trait{
    height: 2.5px;
    width: 40px;
    background-color:  rgb(251, 182, 9); 
    margin-right: 15px;
    margin-bottom: 40px;
}
.moi1 p{
    font-size: 30px;
    font-weight: bolder;
    color:   rgb(251, 182, 9);
}
.moi1{
    font-size: 20px;
    font-weight: bolder;
}

h5{
     color: white;
}
            /*   Ceuci est mon troixieme partie   */
.parti3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.cont{
    display: ;
}
.ter{
    height: 2.5px;
    width: 40px;
    background-color:  rgb(251, 182, 9); 
}
.question{
    margin: 100px 270px;
    align-items: center;
    
}
.question h1{
    margin-left: 25px;
    color:  rgb(251, 182, 9);
}

.question h3{
    color: white;
    margin-right: 40px;
}
 
h1{
    margin-right: 10px;
}
.infoperso{
    border-left: 2px;
    border-right: 2px;
    border-color:  rgb(251, 182, 9);
    border-style:solid ;
}
@media ( ) {
    body {
      color: blue;
    }
  }
  /* partie competences */
  .derniere{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 60px;
    margin-bottom: 55px;
}
.adress{
    font-size: 20px;
    font-weight: 100px;

}
.coord{
    font-size: 20px;
    font-weight: 100px;
    margin-top: -35px;

}

.grand{
    width: 80px;
    height: 5px;
    color: orangered;
    background-color:  orangered ;
    margin-left: 0px;
    margin-top: -55px;
}
.petit{
    width: 40px;
    height: 5px;
    background-color: orangered ;
    color: orangered;
    margin-left: 0px;
    margin-top: -5px;
}
.compet{
    font-size: 10px;
    font-weight: 300px;
    text-transform:uppercase;
    margin-top: -70px;
}

.bar .info{
    display: flex;
    font-weight: 90px;
    font-size: 10px;
    margin-top: 50px;
   color: black; 
    
}

.bar .info .nv1  {
    margin-left: 100px; 
    /* text-align: start; */
    align-items: flex-end;
}
/* .bar .info .nv2 {
    margin-left: 65px; 
    justify-content: space-between;
    justify-content: space-around;
}

.bar .info .nv3  {
    margin-left: 65px; 
    justify-content: space-between;
    justify-content: space-around;
}

.bar .info .nv4 {
    margin-left: 50px; 
    justify-content: space-between;
    justify-content: space-around;
} */
.coprs .imgamoi{

    position: absolute;
    z-index: 50px;
}
.coprs .arriereplan{
    position: relative;
    margin-top: -110px;
    margin-left: 80px;
    z-index: -1px;
}
